---
layout: page
navigationWeight: 3
title: Blog
---

<div class="home">
  <ol reversed class="postlist">
    {% for post in collections.posts %}
      <li class="postlist-item">
        <div class="postlist-item-thumbnail">
          {% postThumbnail post %}
        </div>
        <div class="postlist-item-content">
          <a href="{{ post.url | url }}" class="postlist-link">{{ post.data.title }}</a>
          <time class="postlist-date" datetime="{{ post.date | isoDateTime }}">{{ post.date | date }}</time>
        </div>
      </li>
    {% endfor %}
  </ol>
</div>
