---
layout: default
title: andreas-mausch.de Projects
permalink: /projects/
---

<div class="home">

  {% include resume-title.html %}

  <section class="all-projects-section">
    <h2 class="section-title"><i class="fas fa-rocket"></i>Projects</h2>

    {% for project in site.data.all-projects %}
    <div class="item project row">
      <div class="three columns">
        <h3 class="project-name">{{ project.name }}</h3>
        <div class="role">
          {{ project.role }}
        </div>
        <div class="time">
          {{ project.from | date: '%b %Y' }} - {{ project.to | date: '%b %Y' }}
        </div>
        <div class="location">
          {{ project.location }}
        </div>
        <div class="image">
          <img src="{{ site.baseurl }}/images/resume/{{ project.image }}" alt="{{ project.name }}" />
        </div>
      </div>

      <div class="nine columns">
        <div class="text">
          {{ project.text | markdownify }}
        </div>

        <div class="link">
          <a href="{{ project.link }}">{{ project.link }}</a>
        </div>

        <ul class="technologies">
          {% for technology in project.technologies %}
          <li>{{ technology }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}
  </section>

</div>
