---
layout: default
title: andreas-mausch.de Resume
navigation_title: Resume
navigation_weight: 2
permalink: /resume/
---

<div class="home">

  <section class="section key-skills-section">
    <h2 class="section-title"><i class="fa fa-american-sign-language-interpreting"></i>Skills</h2>

    <ul class="key-skills row">
      <li class="one-third column">
        <div class="centered fixed">
          <div class="key-skill">Java</div>
        </div>
        <ul class="sub-key-skills">
          <li>Kotlin</li>
          <li>Python</li>
          <li>JavaScript</li>
        </ul>
      </li>
      <li class="one-third column">
        <div class="centered fixed">
          <div class="key-skill">CI/CD</div>
        </div>
        <ul class="sub-key-skills">
          <li>Test-driven</li>
          <li>Docker</li>
          <li>1-click deployment</li>
        </ul>
      </li>
      <li class="one-third column">
        <div class="centered fixed">
          <div class="key-skill">Full Stack</div>
        </div>
        <ul class="sub-key-skills">
          <li>Web apps</li>
          <li>API</li>
          <li>Mobile apps</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="section projects-section">
      <h2 class="section-title"><i class="fa fa-rocket"></i>Notable projects</h2>

      {% for project in site.data.projects %}
      <div class="item project row">
          <div class="three columns">
            <h3 class="project-name">{{ project.name }}</h3>
            <div class="role">
              {{ project.role }}
            </div>
            <div class="time">
                {{ project.from | date: '%b %Y' }} - {{ project.to | date: '%b %Y' }}
              </div>
            <div class="location">
                {{ project.location }}
            </div>
            <div class="image">
              <img src="{{ site.baseurl }}/images/resume/{{ project.image }}" alt="{{ project.name }}"/>
            </div>
          </div>

          <div class="nine columns">
            <div class="text">
              {{ project.text | markdownify }}
            </div>

            <div class="link">
              <a href="{{ project.link }}">{{ project.link }}</a>
            </div>

            <ul class="technologies">
              {% for technology in project.technologies %}
                <li>{{ technology }}</li>
              {% endfor %}
            </ul>
          </div>
      </div>
      {% endfor %}
    </section>

    <section class="section projects-section">
      <h2 class="section-title"><i class="fa fa-users"></i>Other clients</h2>
      <div class="other-customers">
        {% for image in site.static_files %}
          {% if image.path contains 'images/resume/other-customers' %}
            <div class="other-customer">
              <img src="{{ site.baseurl }}{{ image.path }}" alt="Other customer">
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </section>

    <section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-tasks"></i>Experiences</h2>

    {% for experience in site.data.experiences %}
    <div class="item experience row">
        <div class="three columns image">
          <img src="{{ site.baseurl }}/images/resume/{{ experience.image }}" alt="{{ experience.role }}"/>
        </div>
        <div class="nine columns text">
          <h3 class="job-role">{{ experience.role }}</h3>
          <div class="company">
            {{ experience.company }}
          </div>
          <div class="time">
            {{ experience.from | date: '%b %Y' }} - {{ experience.to | date: '%b %Y' }}
          </div>
          <div class="location">
            {{ experience.location }}
          </div>
        </div>
    </div>
    {% endfor %}
  </section>

  <section class="section educations-section">
    <h2 class="section-title"><i class="fa fa-graduation-cap"></i>Educations</h2>

    {% for education in site.data.educations %}
    <div class="item education row">
        <div class="three columns image">
          <img src="{{ site.baseurl }}/images/resume/{{ education.image }}" alt="{{ education.degree }}"/>
        </div>
        <div class="nine columns text">
          <h3 class="education-degree">{{ education.degree }}</h3>
          <div class="time">
            {{ education.from | date: '%b %Y' }} - {{ education.to | date: '%b %Y' }}
          </div>
          <div class="university">
            {{ education.university }}
          </div>
          <div class="location">
            {{ education.location }}
          </div>
        </div>
    </div>
    {% endfor %}
  </section>

</div>
