<section class="resume-title-section">
    <div class="resume-title">
        <div class="image">
            <img src="../images/me.jpg">
        </div>
        <div class="summary">
            <div class="name">
                Andreas Mausch
            </div>

            <dl>
                <dt>E-Mail</dt>
                <dd>andreas.mausch@gmail.com</dd>
                <dt>Phone</dt>
                <dd>+49 157 5757 5577</dd>
                <dt>Web</dt>
                <dd>https://andreas-mausch.de</dd>
            </dl>
            <dl>
                <dt>Job</dt>
                <dd>Software Developer</dd>
                <dt>Location</dt>
                <dd>Hamburg, Germany</dd>
                <dt>Availability</dt>
                <dd>July 2020</dd>
            </dl>
        </div>
    </div>
</section>
