/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 400;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{32px} * 2));
    max-width:         calc(#{$content-width} - (#{32px} * 2));
    margin-right: auto;
    margin-left: auto;
    @extend %clearfix;
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.social-links {
  margin-bottom: 30px;
}

.social-links .column {
  text-align: center;
}

.values .column {
  text-align: center;
}

.values .column img {
  margin-left: 20%;
  margin-right: 20%;
  max-height: 100px;
  fill: blue;
}

.values .column p {
  text-align: left;
}

h1 {
  font-size: 3rem;
}

.center {
  text-align: center;
}

.me {
  text-align: center;
  margin-bottom: 60px;
}

.me img {
  max-height: 200px;
  border-radius: 30px;
}

.me .image {
  margin-bottom: 30px;
}

.location {
  white-space: nowrap;
}

.availability {
    font-weight: bold;
}

.contact-email, .contact-phone {
    white-space: nowrap;
}

.project,
.experience,
.education {
    margin-bottom: 16px;
}

.project:not(:last-child),
.experience:not(:last-child) {
    border-bottom: 1px solid $background-color;
    padding-bottom: 16px;
}

.project-name,
.job-role,
.education-degree {
    font-size: 20px;
    font-weight: bold;
}

.project .image,
.experience .image,
.education .image {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
}

.project .image img,
.experience .image img,
.education .image img {
    max-width: 100px;
    max-height: 50px;
}

.project .link {
    margin-bottom: 8px;
}

.project ul.technologies {
    list-style-type: none;
    font-size: 70%;
    font-family: monospace;
    color: $grey-color-dark;
    margin-left: 0;
}

.project ul.technologies li {
    display: inline-block;
    margin: 0;
}

.project ul.technologies li:not(:last-child):after {
    content: ", ";
}

.key-skills {
    margin: 24px 0;
}

.centered {
    margin: 0 auto;
}

.key-skills > li {
    list-style-type: none;
    text-align: center;
    width: 30.6666666667%;
    margin-left: 4%;
}

.key-skills > li:first-child {
    margin-left: 0;
}

.key-skills > li .fixed {
    position: relative;
    width: 90px;
    padding-top: 90px;
}

.key-skill:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.key-skill {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: inline-block;
    background-color: $background-color;
    border: 3px solid $brand-color;
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.sub-key-skills {
    display: inline-block;
    margin: 30px 0 0 0;
}

.sub-key-skills > li {
    list-style-type: none;
}

section {
    margin-bottom: 60px;
}

section:last-of-type {
    margin-bottom: 0;
}

.resume-title-section {
    display: none;
}

.resume-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume-title .image, .resume-title .summary {
    flex-basis: 300px;
}

.resume-title .image img {
    width: 100%;
    border-radius: 30px;
}

.resume-title .summary {
    margin-left: 30px;
    font-size: 80%;
}

.resume-title .summary dl {
    display: flex;
    flex-flow: row wrap;
    border: solid #333;
    border-width: 1px 1px 0 0;
}

.resume-title .summary dt {
    flex-basis: 100px;
    padding: 2px 4px;
    background: #333;
    text-align: right;
    color: #fff;
}

.resume-title .summary dd {
    flex-basis: 170px;
    flex-grow: 1;
    margin: 0;
    padding: 2px 4px;
    border-bottom: 1px solid #333;
}

.section-title {
    font-size: 24px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 20px;
}

.section-title i {
    display: inline-block;
    margin-right: 8px;
    border: 1px solid darken($brand-color, 15%);
    padding: 0.5em 0.6em;
    color: darken($brand-color, 15%);
    border-radius: 50%;
    font-size: 20px;
}

.other-customers {
    text-align: center;
}

.other-customer {
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    text-align: center;
}

.other-customer img {
    max-width: 100px;
    max-height: 75px;
    height: auto;
}
