.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
}

.post, .home {
    padding: 32px 48px;
    border-radius: 16px;
}

.page-content {
    padding: $spacing-unit 0;
}

.site-footer {
  margin-left: $spacing-unit;
}

.site-title {
  padding-left: $spacing-unit;
}

.key-skills > li .fixed {
  width: 110px;
  padding-top: 110px;
}

.other-customer {
  display: inline-block;
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 12px;
}

.other-customer img {
  max-width: 150px;
}
