@page {
  size: A4;
  margin: 64px 30px;
}

html, body {
  background-color: transparent;
  font-size: 14px;
}

.site-header, .site-footer {
  display: none;
}

.post, .home {
  padding: 0 34px;
  background-color: transparent;
}

.resume-title-section {
  display: block;
  margin-bottom: 80px;
}

section {
  margin-bottom: 40px;
}

.section-title {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.section-title i {
  display: none;
}

.project,
.experience,
.education {
    margin-bottom: 4px;
}

.project:not(:last-child),
.experience:not(:last-child) {
    padding-bottom: 4px;
}

.project .image,
.experience .image,
.education .image {
    text-align: center;
}

.job-role,
.education-degree {
    font-size: 100%;
    margin-bottom: 0;
}

.projects-section {
  display: none;
}

.all-projects-section .project {
  page-break-inside: avoid;
}
