---
title: andreas-mausch.de
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ "/styles/style.css" | url }}"/>
    {% if extraStyles and "katex" in extraStyles %}
      <link rel="stylesheet" href="{{ "/styles/katex.css" | url }}"/>
    {% endif %}
    <link rel="icon" type="image/svg+xml" href="{{ "/favicon.svg" | url }}" sizes="any"/>
  </head>
  <body>
    <header class="site-header">
      <div class="site-header-content">
        <a class="site-title" href="{{ "/" | url }}">Andreas Mausch</a>
        <nav class="site-nav">
          <a href="#" class="menu-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              version="1.1"
              viewbox="0 0 16 16"
              width="100%"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5">
              <path d="m2.75 12.25h10.5m-10.5-4h10.5m-10.5-4h10.5"/>
            </svg>
          </a>
          <input id="nav-toggle" type="checkbox"/>
          <label class="nav-button-container" for="nav-toggle">
            <div class="nav-button"></div>
          </label>
          <ol class="site-nav-items">
            <a class="page-link" href="{{ "/" | url }}"><li class="page-link-home">Home</li></a>
            {%- for post in collections.navigationPages -%}
              <a class="page-link" href="{{ post.url }}"><li>{{ post.data.title }}</li></a>
            {%- endfor -%}
          </ol>
        </nav>
      </div>
    </header>
    <div class="content">
      {{ content | safe }}
    </div>
  </body>
</html>
