@use "sass:color";
@import "_color-palette";

$primary-color: $highlight-color;
$secondary-color: $link-color-dark;

code[class*="language-"],
pre[class*="language-"] {
  background: none;
  color: $text-color-dark;
  hyphens: none;
  line-height: 1.5;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

/* Code blocks */
pre[class*="language-"] {
  border-radius: 0.3em;
  margin: 0.5em 0;
  overflow: auto;
  padding: 1em;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
  background: $background-color-dark;
}

/* Inline code */
:not(pre)>code[class*="language-"] {
  border-radius: 0.3em;
  padding: 0.1em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #acacac;
}

.token.punctuation {
  color: color.scale($secondary-color, $lightness: 60%);
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol {
  color: $secondary-color;
}

.token.deleted {
  color: #f00;
}

.token.boolean,
.token.number {
  color: color.scale($secondary-color, $lightness: 30%);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin {
  color: color.scale($primary-color, $lightness: 50%);
}

.token.inserted {
  color: #008000;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: $secondary-color;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: color.scale($primary-color, $lightness: 20%);
}

.token.keyword {
  color: color.scale($primary-color, $lightness: 40%);
}

.token.regex,
.token.important {
  color: color.scale($primary-color, $lightness: 20%);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

@media (prefers-color-scheme: light) {

  $secondary-color: $link-color-light;

  code[class*="language-"],
  pre[class*="language-"] {
    color: $text-color-light;
  }

  :not(pre)>code[class*="language-"],
  pre[class*="language-"] {
    background: $background-color-light;
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #858585;
  }

  .token.punctuation {
    color: color.scale($secondary-color, $lightness: -60%);
  }

  .token.boolean,
  .token.number {
    color: color.scale($secondary-color, $lightness: -30%);
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin {
    color: color.scale($primary-color, $lightness: -50%);
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string,
  .token.variable {
    color: $secondary-color;
  }

  .token.atrule,
  .token.attr-value,
  .token.function,
  .token.class-name {
    color: color.scale($primary-color, $lightness: -20%);
  }

  .token.keyword {
    color: color.scale($primary-color, $lightness: -40%);
  }
}
