.image-comparison-slider {
  align-items: center;
  display: flex;
  justify-content: center;
}

.image-comparison-slider > img-comparison-slider {
  --divider-color: rgb(255, 135, 0);
  --divider-width: 2px;
}

.image-comparison-slider-handle {
  color: rgb(255, 135, 0);
  transform: scale(1.5);
  transition: transform 0.2s, opacity 1s;
}

.image-comparison-slider > img-comparison-slider:hover .image-comparison-slider-handle {
  transform: scale(2);
}

.image-comparison-slider > img-comparison-slider:focus .image-comparison-slider-handle {
  opacity: 0;
}
