.content {
  border-radius: 16px;
  margin: 30px auto;
  max-width: 1060px;
  padding: 40px;
}

.postlist-item {
  flex-direction: row;
}

.page-link-home {
  display: none;
}

.nav-button-container {
  display: none;
}

.site-nav-items {
  flex-direction: row;
  position: initial;
  transform: none;
  transition: none;
}
