.content {
  border-radius: 16px;
  margin: 30px auto;
  max-width: 1060px;
  padding: 40px;
}

.postlist-item {
  flex-direction: row;
}

.page-link-home {
  display: none;
}

.nav-button-container {
  display: none;
}

.site-nav-items {
  flex-direction: row;
  max-height: unset;
  position: initial;
  transition: none;
}

.social-links {
  flex-direction: row;
  margin: 30px auto 0;
  width: 300px;
}

.how-i-work-values > div {
  flex-basis: 34%;
  flex-grow: 1;
  margin: 30px;
}
