$background-color: #ececec;
$highlight-color: rgb(255, 135, 0);
$link-color: #2a7ae2;

.resume-title-section {
  display: none;
}

.resume-title {
  align-items: center;
  display: flex;
  justify-content: center;
}

.resume-title .image {
  flex-basis: 240px;
}

.resume-title .summary {
  flex-basis: 300px;
}

.resume-title .image img {
  border-radius: 30px;
  width: 100%;
}

.resume-title .summary {
  font-size: 80%;
  margin-left: 30px;
}

.resume-title .name {
  font-size: 200%;
  margin-bottom: 16px;
  text-align: center;
}

.resume-title .summary dl {
  border: solid #333;
  border-width: 1px 1px 0 0;
  display: flex;
  flex-flow: row wrap;
}

.resume-title .summary dt {
  background-color: #333;
  color: #fff;
  flex-basis: 100px;
  font-weight: 900;
  padding: 2px 4px;
  text-align: right;
}

.resume-title .summary dd {
  border-bottom: 1px solid #333;
  flex-basis: 170px;
  flex-grow: 1;
  margin: 0;
  padding: 2px 4px;
}

.section-title {
  font-size: 150%;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 0;
}

.section-title i {
  border: 1px solid darken($link-color, 15%);
  border-radius: 50%;
  color: darken($link-color, 15%);
  display: inline-block;
  font-size: 20px;
  height: 48px;
  line-height: 48px;
  margin-right: 8px;
  text-align: center;
  vertical-align: middle;
  width: 48px;
}

.section-title i::before {
  line-height: inherit;
}

.other-clients {
  text-align: center;
}

.other-client {
  display: block;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100px;
}

.other-client img {
  height: auto;
  margin-bottom: 16px;
  max-height: 75px;
  max-width: 100px;
}

.experiences-section {
  display: grid;
  grid-template-columns: 120px auto auto;
}

.experiences-section .section-title {
  grid-column: 1 / 4;
}

.experiences-section .experience {
  display: contents;
}

.experiences-section .experience > div {
  margin-bottom: 24px;
}

.experiences-section .experience:not(:last-child) > div {
  border-bottom: 1px solid $background-color;
  padding-bottom: 24px;
}

.project .image,
.experience .image,
.education .image {
  padding-bottom: 6px;
  padding-top: 6px;
}

.experience .image img,
.education .image img {
  max-height: 24px;
  max-width: 70px;
}
