@use "sass:color";
@use "color-palette";

table {
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
  width: 100%;
}

table td,
table th {
  border: 1px solid color-palette.$border-color-dark;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: color-palette.$background-color-dark;
}

table tr:nth-child(odd) {
  background-color: color.scale(color-palette.$background-color-dark, $lightness: 10%);
}

table tr:hover {
  background-color: color-palette.$content-background-color-dark;
}

table th {
  background-color: color-palette.$content-background-color-dark;
  color: color-palette.$highlight-color;
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: left;
}

.hexview {
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;

  table {
    font-size: 87.5%;

    td {
      padding: 4px;
    }

    td:hover {
      filter: invert(100%) hue-rotate(170deg) brightness(150%);
      backdrop-filter: invert(20%);
    }
  }

  ul {
    list-style-type: none;
  }
}

@media (prefers-color-scheme: light) {
  table td,
  table th {
    border-color: color-palette.$border-color-light;
  }

  table tr:nth-child(even) {
    background-color: color-palette.$background-color-light;
  }

  table tr:nth-child(odd) {
    background-color: color.scale(color-palette.$background-color-light, $lightness: -5%);
  }

  table tr:hover {
    background-color: color-palette.$content-background-color-light;
  }

  table th {
    background-color: color-palette.$content-background-color-light;
  }
}
